<section class="contact" @fadeBlur>
  <h2>📬 Contacto</h2>

  <div class="info">
    <p><strong>Correo:</strong> isisavendano5@gmail.com</p>
    <p><strong>Teléfono:</strong> +52 8136968539</p>
    <p><strong>Ubicación:</strong> Monterrey, Nuevo León - México</p>
  </div>

  <form class="form" action="https://formspree.io/f/mpwyqakq" method="POST">
    <input type="text" name="name" placeholder="Tu nombre" required />
    <input type="email" name="email" placeholder="Tu correo" required />
    <textarea
      name="message"
      rows="4"
      placeholder="Tu mensaje"
      required
    ></textarea>
    <button type="submit">Enviar mensaje</button>
  </form>

  <div class="media-actions">
    <a
      href="https://www.linkedin.com/in/isis-avendaño"
      target="_blank"
      title="Mi LinkedIn"
    >
      <img src="assets/icons/linkedin.png" alt="LinkedIn" />
    </a>
    <a
      href="https://www.facebook.com/ale.aveneli.3?locale=es_LA"
      target="_blank"
      title="Mi Facebook"
    >
      <img src="assets/icons/facebook.png" alt="Facebook" />
    </a>
    <a href="assets/docs/isis-cv.pdf" download title="Descargar CV en PDF">
      <img src="assets/icons/pdf.png" alt="Descargar CV" />
    </a>
  </div>
</section>
