// Modo claro
$background-color: #f3e8ff;
$text-color: #2d2d2d;
$primary-color: #a259ff;
$accent-color: #ff6ec7;

// Modo oscuro (preparado para el switch)
$dark-background-color: #1b1b2f;
$dark-text-color: #eae6ff;
$dark-primary-color: #bb86fc;
$dark-accent-color: #ff99e5;
