<div @fadeScale>
  <section class="about">
    <h2>🌟 Sobre mí</h2>

    <p class="intro">
      Hola a tod(a)s👋. Soy Isis Alejandra Avendaño Eligio, egresada como técnico en enfermería de mis estudios en bachiller. Soy una mujer comprometida, empática y con
      una fuerte ética de trabajo. Me apasiona aprender, colaborar y crecer
      profesionalmente, sea el área que sea aunque mi fuerte siempre será el área de la salud.
    </p>

    <p>
      A lo largo de mi experiencia laboral he aprendido a adaptarme, comunicarme
      con claridad y brindar soluciones en entornos diversos. He trabajado en
      áreas tanto del sector salud (En hospitales, centros de salud y en atención al adulto mayor e infantes) como atención al cliente, ventas, logística y apoyo administrativo.
    </p>

    <p>
      Cada experiencia ha fortalecido mi capacidad de organización, mi trato
      humano y mi enfoque en resultados.
    </p>

    <p class="quote">
      “Creo en el valor de cada esfuerzo y en la importancia de hacer las cosas
      con el corazón ♥️ 🌸.”
    </p>
  </section>
</div>
